<ion-header>
  <ion-toolbar collapse="condense">
    <ion-title size="large">AsistenciAPP</ion-title>
    <ion-button slot="end" (click)="cerrarSesion()" [routerLink]="['login']">Cerrar Sesión</ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <div class="ion-text-center">
      <h1>Bienvenido</h1>
    </div>
  
    <div class="ion-text-center">
      <h2>Profesor: {{ data.userName }}</h2>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content id="container" class="ion-padding ion-text-center"><br><br><br><br>
  <ion-button (click)="desplegarQR()" expand="full" shape="round" size="large">
    Desplegar código QR
  </ion-button>

  <div *ngIf="qrCodeImage">
    <img [src]="qrCodeImage" alt="Código QR">
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-text ion-text-center">
      App desarrollado por Rocket Software
    </div>
  </ion-toolbar>
</ion-footer>