<ion-header>
  <ion-toolbar collapse="condense">
    <ion-title size="large">AsistenciAPP</ion-title>
    <ion-button slot="end" (click)="cerrarSesion()" [routerLink]="['login']">Cerrar Sesión</ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <div class="ion-text-center">
      <h1>Bienvenido</h1>
    </div>
  
    <div class="ion-text-center">
      <h2>Usuario: {{ data.userName }}</h2>
    </div>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment">   
      <ion-segment-button value="ver-asistencia" [routerLink]="['/home/verAsistencia']">
        <ion-label>Mi Asistencia</ion-label>
      </ion-segment-button>
      <ion-segment-button value="escanear" [routerLink]="['/home/escanear']">
        <ion-label>Escanear</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content id="container">
  

  
  <ion-router-outlet></ion-router-outlet>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-text ion-text-center">
      App desarrollado por Rocket Software
    </div>
  </ion-toolbar>
</ion-footer>