<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formularioRegistro">
        <ion-item lines="full">
          <ion-label position="floating">Usuario (min 3, max 8 caracteres)</ion-label>
          <ion-input type="text" formControlName="userName" minlength="3" maxlength="8"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">E-Mail</ion-label>
          <ion-input type="email" formControlName="mail"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password" maxlength="4"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Repita contraseña</ion-label>
          <ion-input type="password" formControlName="password2" maxlength="4"></ion-input>
        </ion-item>
      </form><br>

      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="guardar()">Registrarse</ion-button>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>